html {
	height: 100%;
}
body{
    margin: 0;
	background: url('fonon2.jpg') repeat 0px 0px; 
}


@font-face {
    font-family: 'foglihtenno06';
    src: url('shrifts/foglihtenno06/foglihtenno06.eot');
    src: url('shrifts/foglihtenno06/foglihtenno06.eot?#iefix') format('embedded-opentype'),
         url('shrifts/foglihtenno06/foglihtenno06.woff') format('woff'),
         url('shrifts/foglihtenno06/foglihtenno06.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beer_money';
    src: url('shrifts/beer_money/beer_money.eot');
    src: url('shrifts/beer_money/beer_money.eot?#iefix') format('embedded-opentype'),
         url('shrifts/beer_money/beer_money.woff') format('woff'),
         url('shriftsbeer_money/beer_money.ttf') format('truetype');
}

@font-face {
    font-family: 'chibola-webfont';
    src: url('shrifts/chibola-webfont/chibola-webfont.eot');
    src: url('shrifts/chibola-webfont/chibola-webfont.eot?#iefix') format('embedded-opentype'),
         url('shrifts/chibola-webfont/chibola-webfont.woff') format('woff'),
         url('shrifts/chibola-webfont/chibola-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@import url(http://allfont.ru/css/?fonts=chibola);

.page{
    height: 100%;
    width: 100%;
}
.container{
    height: 100px;
}
.page_logo{
    height: 100px;
    padding: 15px 0px 25px 0px;
    margin: 0 auto;
    width: 700px;
} 
.page_logo a{
    text-align: center;
    font-family: 'Chibola';
    font-size: 50px;
    letter-spacing: 5px;
    margin: 88px;
    color: #312819;
    text-decoration: none;
}
.menu{
    width: 100%;
    background-color: #ebe4e1;
    height: 50px;
}
.venzel{
    height: 50px;
    width: 300px;
    margin: 0 auto;
    background-image: url('Venzel2.png');
    background-size: cover; 
}
.button_r{
    display:inline-block;
    height: 40px;
    width: 142px;
    margin: 4px 40px 4px 40px; 
    float: right;
    background-image: url('menu_item_bg.jpg');
    background-size: cover;
    text-align: center;
}
.button_l{
    display:inline-block;
    height: 40px;
    width: 142px;
    margin: 4px 40px 4px 40px; 
    float: left;
    background-image: url('menu_item_bg.jpg');
    background-size: cover;
    text-align: center;

}
.button_r a{
    margin: 0px;
    font-family: 'Chibola';
    font-size: 25px;
    color: #ebe4e1;
    text-decoration: none;
    position: relative;
    top: 3px;
}
.button_l a{
    margin: 0px;
    font-family: 'Chibola';
    font-size: 25px;
    color: #ebe4e1;
    text-decoration: none;
    position: relative;
    top: 3px;
}
.button_r a:hover{
    text-shadow: 2px 0px 5px rgba(255,255,255,0.5);

}
.button_l a:hover{
    text-shadow: 2px 0px 5px rgba(255,255,255,0.5);

}
.genus{
    border-spacing: 10px 5px;
    padding: 0px;
    margin: 0 auto;

}
.genus caption{
    border: 10px double #312819;
    margin: 0 auto;
    height: 34px;
    background-color: #ebe4e1;
    margin-top: 5px;
    font-family: 'Chibola';
    font-size: 40px;
    padding-bottom: 20px;
    color: #312819;
}
.genus td{
    width:200px;
    border: 10px double #312819;
}
.first {
    background-color: #ebe4e1;
}
.home-active{
    width: 270px;
    height: 200px;   
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.home-active img{
    width: 270px;
    height: 200px;     
}
 
.block-hidden{    
    opacity: 0;
}

.home-active:hover .block-hidden{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute; top: 0; left: 0;
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.block-hidden p{
    position: absolute; bottom: 5%; right: 5%;     
}
.block-hidden .read-more{
    position: absolute; top: 5%; left: 5%;   
}
.block-hidden .read-more a{
    color: #fff;    
}

.popup {
    padding: 0;
    width: 1000px;
    height: 500px;
    overflow: visible;
    background-color: #ebe4e1;
    border: 10px double #312819;
}

.popup__image {
    width: 450px;
    background-size: cover;
}

.popup__image_type_portray {
    background-image: url('Dostoevsky_1872.jpg');
}

.popup__image_type_landscape {
    background-image: url('Levitan_vesna_bolsh_voda.jpg');
}
.popup__image_type_historical{
    background-image: url('oMakovsky_False_Dmitrys_agents_murdering_Feodor_Godunov_and_his_mother_1862.jpg');
}
.popup__image_type_batal{
    background-image: url('averyanov2.jpg');
}
.popup__image_type_nature{
    background-image: url('Dubovik_Anastasia_Igorevna_Naturmort_Pereryv_Holst_Maslo-873x1024.jpg');
}
.popup__image_type_zhanrov{
    background-image: url('0_b3227_569220cd_L.jpg');
}
.popup__image_type_architecture{
    background-image: url('09b9879a65ab.jpg');
}
.popup__image_type_religion{
    background-image: url('94295649_large_Nesterov_Mihail27.png');
}
.popup__image_type_barokko{
    background-image: url('43.jpg');
}
.popup__image_type_kubizm{
    background-image: url('Akhmatova_by_Altman.jpeg.jpeg');
}
.popup__image_type_ekspresseonizm{
    background-image: url('be4dfb60cc1a1d41ac47061390de333d.jpg');
}
.popup__image_type_impresseonizm{
    background-image: url('1-klod-mone-dama-s-zontikom.jpg');
}
.popup__image_type_modernizm{
    background-image: url('vrubel25.jpg');
}
.popup__image_type_neoklassicizm{
    background-image: url('энгр1.jpg');
}
.popup__image_type_realizm{
    background-image: url('ribera-penitent-magdalene.jpg');
}
.popup__image_type_romantizm{
    background-image: url('1319377732.jpg');
}
.popup__image_type_surrealizm{
    background-image: url('hudozhnik-mihail-3.jpg');
}
.popup__image_type_simvolizm{
    background-image: url('aade5faeb0f7eaf74762670c0ae.jpg');
}


.popup__description {
    width: 600px;
    padding: 20px;
    font-size: 20px;
    border-left: 10px double #312819;
}

.popup__description a {
    font-size: 25px;
    font-family: 'Chibola';
}

.desc{
    color: #312819;
    font-family: Courier;
    font-style: italic;
    font-size: 19px;
    margin-top: 5px;
}

.about {
    position:absolute;
    background-color: #ebe4e1;
    width:366px;
    height:50px;
    opacity: 0.7;
    bottom: 10px;
    padding: 10px;
}
#fancybox-title-inside{
    font-size: 25px;
}