html {
	height: 100%;
}
body{
    margin: 0;
	background: url('fonon2.jpg') repeat 0px 0px; 
}


@font-face {
    font-family: 'foglihtenno06';
    src: url('shrifts/foglihtenno06/foglihtenno06.eot');
    src: url('shrifts/foglihtenno06/foglihtenno06.eot?#iefix') format('embedded-opentype'),
         url('shrifts/foglihtenno06/foglihtenno06.woff') format('woff'),
         url('shrifts/foglihtenno06/foglihtenno06.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beer_money';
    src: url('shrifts/beer_money/beer_money.eot');
    src: url('shrifts/beer_money/beer_money.eot?#iefix') format('embedded-opentype'),
         url('shrifts/beer_money/beer_money.woff') format('woff'),
         url('shriftsbeer_money/beer_money.ttf') format('truetype');
}

@font-face {
    font-family: 'chibola-webfont';
    src: url('shrifts/chibola-webfont/chibola-webfont.eot');
    src: url('shrifts/chibola-webfont/chibola-webfont.eot?#iefix') format('embedded-opentype'),
         url('shrifts/chibola-webfont/chibola-webfont.woff') format('woff'),
         url('shrifts/chibola-webfont/chibola-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@import url(http://allfont.ru/css/?fonts=chibola);

.page{
    height: 100%;
    width: 100%;
}
.container{
    height: 100px;
}
.page_logo{
    height: 100px;
    padding: 15px 0px 25px 0px;
    margin: 0 auto;
    width: 700px;
} 
.page_logo h1{
    text-align: center;
    font-family: 'Chibola';
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
    color: #312819;
}
.menu{
    width: 100%;
    background-color: #ebe4e1;
    height: 50px;
}
.venzel{
    height: 50px;
    width: 300px;
    margin: 0 auto;
    background-image: url('Venzel2.png');
    background-size: cover; 
}
.button_r{
    display:inline-block;
    height: 40px;
    width: 142px;
    margin: 4px 7px 4px 7px; 
    float: right;
    background-image: url('menu_item_bg.jpg');
    background-size: cover;
    text-align: center;
}
.button_l{
    display:inline-block;
    height: 40px;
    width: 142px;
    margin: 4px 7px 4px 7px; 
    float: left;
    background-image: url('menu_item_bg.jpg');
    background-size: cover;
    text-align: center;

}
.button_r a{
    margin: 0px;
    font-family: 'Chibola';
    font-size: 25px;
    color: #ebe4e1;
    text-decoration: none;
    position: relative;
    top: 3px;
}
.button_l a{
    margin: 0px;
    font-family: 'Chibola';
    font-size: 25px;
    color: #ebe4e1;
    text-decoration: none;
    position: relative;
    top: 3px;
}
.button_r a:hover{
    text-shadow: 2px 0px 5px rgba(255,255,255,0.5);

}
.button_l a:hover{
    text-shadow: 2px 0px 5px rgba(255,255,255,0.5);

}
.site_descr{
    width: 400px;
    height:464px;
    overflow: hidden;
    position:relative;
    float: right;
    margin: 10px;
}
.site_descr p{
    margin-top: 40px;
    margin-right: 40px;
    color: #312819;
    font-size: 22px;
    font-family: Courier;
}
.slider {
    left: 40px; 
    width:660px; 
    position:relative;
    float: left;
    margin-top: 20px;
}
.slider-content {
    width:750px;
    height:425px;
    overflow: hidden;
    border:10px ridge #9e9896 ;
    position:relative;
}
.slide{
    width:100%;
    height:100%;
}
#one {
    position:relative;
    background-image: url('Repin.jpg');
    width:100%;
    height:100%;
    background-size: cover;
}
#two {
    position:relative;
    background-image: url('Pompeii.jpg');
    width:100%;
    height:100%;
    background-size: cover;
}
#three {
    position:relative;
    background-image: url('vkusno.jpg');
    width:100%;
    height:100%;
    background-size: cover;
}
#four {
    position:relative;
    background-image: url('Dublin.jpg');
    width:100%;
    height:100%;
    background-size: cover;
}
.about {
    position:absolute;
    background-color: #ebe4e1;
    width:600px;
    height:50px;
    opacity: 0.7;
    bottom: 0px;
    padding: 10px;
}
.desc{
    color: #312819;
    font-style: Courier;
    font-size: 20px;
    margin-top: 5px;
}
.slider-controls {
    position:absolute;
    right:-92px;
    top: 20px;
    bottom:12px;
    text-align:center;
}
.slider-controls .control-slide {
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(radioBg.png) center bottom no-repeat;
}
.slider-controls .control-slide:hover {
    cursor:pointer;
    background-position:center center;
}
.slider-controls .control-slide.active {
    background-position:center top;
}
.prew, .next {
    display:none;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(arrowBg.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
}
.prew {
    left:10px;
}
.next {
    right:10px;
    background:url(arrowBg.png) right center no-repeat;
}
.prew:hover, .next:hover {
    opacity:1;
}
.slider:hover .prew, .slider:hover .next {
    display:block;
}